<h1>Puppymash</h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @puppies.each do |puppy| %>
      <tr>
        <td><%= puppy.path %></td>
        <td><%= puppy.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
